/* An alternate pink: E33258 */

html {
  overflow-y: scroll;
  font-family: "Lora",Georgia,sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

ul {
  list-style-type: square;
  padding: 0;
}

html,
body {
  height: 100%;
}

.highlight {
  font-size: 0.8em;
}

img {
  height: 100%;
  width: 100%;
}

header,
nav {
  text-align: center;
}

pre {
  background-color: rgba(227, 50, 88, 0.1);
  border-radius: 5px;
  padding: 1em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

pre,
code {
  font-family: "Source Code Pro", sans-serif;
}

.title .tagline {

}

.tagline {
  margin-top: -1em;
}

footer {
  background-color: #E33258;
  color: white;
}

footer,
.push {
  /* '.push' must be the same height as 'footer' */
  height: 9em;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
  border-bottom: dotted 1px white;
}

.footer-content {
  padding-top: 3em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.footer-items {
  list-style-type: none;
}

.footer-items li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.site {
  margin-left: auto;
  margin-right: auto;

  /* For sticky footer. */
  min-height: 100%;
  height: auto !important;
  height: 100%;

  /* The bottom margin is the negative value of the footer's height */
  margin: 0 auto -9em;
}

.content {
  margin-right: auto;
  margin-left: auto;
}

a {
  color: #E33258;
  text-decoration: none;
}

a:hover {
  border-bottom: dotted 1px silver;
}

h1.title a {
  text-decoration: none;
}

nav {
  border-top: dotted 1px silver;
  border-bottom: dotted 1px silver;
  margin-top: 2em;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: #E33258;
  border: none;
}

.page-title a,
.post-title a {
  color: black;
}

.page-title a:hover,
.post-title a:hover {
  color: #E33258;
}

.page,
.post {
  margin-bottom: 3em;
}

.page-content,
.post-content {
  border-bottom: dotted 1px silver;
}

.pagination {
  text-align: center;
}

.previous {
  margin-right: 2em;
}

.next {
  margin-left: 2em;
}

.page-number {
  border: dotted 1px silver;
  padding: 0.3em 0.7em;
}

.page-number:hover {
  background-color: whitesmoke;
}

.content {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (min-width:320px) {
  .site,
  .content,
  .footer-content {
      width: 90%;
  }
}


/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (min-width:481px) {
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (min-width:641px) {
  .site {
      width: 45em;
  }

  .content {
    width: 36em;
  }

  .footer-content {
    width: 50em;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px) {
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) {
}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
}